<!DOCTYPE html>
<html lang="fr" ng-app="nodeBB" ng-controller="appCtrl">
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="bootstrap/css/bootstrap.css" />
		<script src="javascripts/lib/angular.js"></script>
		<style type="text/css">
			body {
				padding-top: 60px;
				padding-bottom: 40px;
			}
		</style>

		<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	<body>

		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="/#/categories"><%= title %></a>
					<ul class="nav">
						<li><a href="/#/categories"><i class="icon-home icon-white"></i></a></li>
						<li class="dropdown" ng-controller="NotificationsCtrl"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"><i class="icon-globe icon-white"></i><span id="notificationCount" class="badge badge-info">{{ count }}</span></a>
							<ul id="notifications" class="dropdown-menu span4" role="menu" aria-labelledby="dLabel">
								<li ng-repeat="notification in notifications | orderBy:orderProp">
									<a ng-click="closeNotification($event)" class="notification-{{ notification.id }}" href="{{ notification.target }}">
										<strong>{{ notification.title }} </strong>
										by {{ notification.username }}
									</a>
								</li>
							</ul>
						</li>
					</ul>
					<ul class="nav pull-right">
						<li>
							<a href="/#/profile">
								<%= user.username %>
							</a>
						</li>
						<li>
							<a href="/logout">
								Logout
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div ng-view></div>
				<div id="activities" class="span4 pull-right" ng-controller="ActivitiesCtrl">
					<div class="row">
						<form id="activityForm" class="span4 form-inline">
							<div class="input-append">
								<input id="activityBody" class="span3" type="text" placeholder="I BZZ BZZ!"/> <button class="btn" type="button" ng-click="postActivity('#activityForm')">Post!</button>
							</div>
						</form>
					</div>
					<div class="row">
						<div class="well span3">
							<ul id="activitiesList" class="span4 nav nav-list" style="max-width:220px; padding: 8px 0">
								<li ng-repeat="activity in activities | orderBy:orderProp">
									<strong>{{ activity.username }}: </strong>
									{{ activity.body }}
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script src="http://bubook.be:3001/socket.io/socket.io.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
		<script src="bootstrap/js/bootstrap.js"></script>
		<script src="javascripts/app/app.js"></script>
		<script src="javascripts/app/controllers.js"></script>
		<script src="javascripts/app/services.js"></script>
		<script src="javascripts/lib/angular-resource.js"></script>
	</body>
</html>