<div class="span8">
	<h1>Categories</h1>
	<ul class="nav nav-tabs nav-stacked">
		<li ng-repeat="category in categories | orderBy:orderProp">
			<a href="#/discussions/{{category.id}}">{{category.name}}</a>
		</li>
	</ul>
</div>