<div class="span8">
	<div class="row">
		<div class="span4">
			<h4>{{ discussion.discussion.name }}</h4>
		</div>
		<div class="span4 pull-right">
			<div class="btn-group pull-right">
				<button class="btn btn-primary btn-medium" ng-click="newComment()"><i class="icon-comment icon-white"></i></button>
				<button class="btn btn-medium disabled"><i class="icon-edit"></i></button>
				<button class="btn btn-medium disabled"><i class="icon-star-empty"></i></button>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="span8">
			<div class="well">
				{{ discussion.discussion.body }}
			</div>
		</div>
	</div>

	<div class="row">
		<div class="span8">
			<div class="row" ng-repeat="comment in discussion.comments | orderBy:id">
				<div class="span8">
					<div class="row">
						<div class="span4">
							<strong>{{ users[comment.UserId].username }}</strong>
						</div>
						<div class="span4 pull-right">
							<div class="btn-group pull-right">
								<button class="btn btn-mini disabled"><i class="icon-user"></i></button>
								<button class="btn btn-mini disabled"><i class="icon-share-alt"></i></button>
								<button class="btn btn-mini disabled"><i class="icon-bell"></i></button>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="span8" style="text-align:justify">
							{{ comment.body }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="newComment" class="modal hide fade">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3>New comment</h3>
	</div>
	<div class="modal-body">

		<form class="form-horizontal">
			<div class="control-group">
				<label class="control-label" for="body">Content</label>
				<div class="controls">
					<textarea rows="4" id="body" name="body" placeholder="Content"></textarea>
				</div>
			</div>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">Close</a>
		<button type="submit" class="btn btn-primary" ng-click="postComment()">Save</button>
		</form>
	</div>
</div>