<div class="span8">
	<div class="row">
		<div class="span4">
			<h4>Discussion</h4>
		</div>
		<div class="span4 pull-right">
			<div class="btn-group pull-right">
				<button class="btn btn-medium" ng-click="newDiscussion()"><i class="icon-plus"></i></button>
				<button class="btn btn-medium disabled"><i class="icon-search"></i></button>
				<button class="btn btn-medium disabled"><i class="icon-star-empty"></i></button>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="span8">
			<ul class="nav nav-tabs nav-stacked">
				<li ng-repeat="discussion in discussions">
					<a href="/#/discussion/{{discussion.id}}">{{ discussion.name }} par {{ users[discussion.UserId].username }}</a> 
				</li>
			</ul>
		</div>
	</div>
</div>

<div id="newDiscussion" class="modal hide fade">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3>New discussion</h3>
	</div>
	<div class="modal-body">

		<form class="form-horizontal">
			<div class="control-group">
				<label class="control-label" for="name">Title</label>
				<div class="controls">
					<input type="text" id="name" name="name" placeholder="Title" class="input-xlarge" />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="body">Content</label>
				<div class="controls">
					<textarea rows="6" id="body" name="body" placeholder="Content" class="input-xlarge"></textarea>
				</div>
			</div>


	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">Close</a>
		<button type="submit" class="btn btn-primary" ng-click="postDiscussion()">Save</button>
		</form>
	</div>
</div>